body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:527px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:85px;
}
#u1968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:85px;
}
#u1969 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:523px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:44px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1970 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:31px;
  width:212px;
  height:44px;
}
#u1971 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1972 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:47px;
  width:175px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u1973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u1974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1974 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:495px;
  width:265px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u1975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  white-space:nowrap;
}
#u1976 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:828px;
  width:483px;
  height:59px;
}
#u1976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:483px;
  height:59px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1977 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:33px;
  width:62px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:200px;
}
#u1978 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:201px;
  width:242px;
  height:200px;
}
#u1979 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:92px;
  width:238px;
  visibility:hidden;
  word-wrap:break-word;
}
