body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:528px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:938px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:938px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:461px;
  width:524px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:33px;
  width:39px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
